doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
    header.header
      nav
        ul
          li Web
          li
           a(href="#") Images
          li
           a(href="#") Videos
          li
           a(href="#") Maps
          li
           a(href="#") News
          li
           a(href="#") Shopping
          li
           a(href="#") Gmail
          li
           a(href="#") more
      div.aside-nav
        ul
          li
            a(href="#") iGoogle
          li
            a(href="#") Search settings
          li 
            a(href="#") Sign in
      hr